<h1>All Groups</h1>
<ul>
  <% @groups.each do |group| %>
    <%= link_to group.name, group_path(group) %><br/>
    <%= group.description %><br/>
  <% end %>
</ul>

<%= link_to 'Create a Group', new_group_path %>

<%= link_to 'See All Public Drafts', drafts_path %>
