<div class="row">
  <div class="small-12 columns">
    <h1>About This Site</h1>
    <p>Writing Workshop is a site for creative writers (both professionals and amateurs) to share their work with other writers, and to receive constructive feedback.  Any member is welcome to post as many writing samples as they would like, or to post as many critiques as they desire.  Or if you want you can just lurk and read people's writing!  We won't judge.  Just try to be nice.</p>
    <p>If you have a writing group, or would like to join one, you can also limit your work to only be viewed by your fellow members.  Groups can have a theme or genre focus, or just be a group of your friends interested in any kind of writing.</p>
    <p>So, what are you waiting for?  <%= link_to 'Sign up', new_user_registration_path %> and get started!  Or if you're already a member you can <%= link_to 'log in here', new_user_session_path %>.</p>

    <%= link_to 'Back to the home page', index_path %>
    <%= yield %>
  </div>
</div>
