<h1>FAQs</h1>

<h3>Who is this site for?</h3>
<p>Writing Workshop is for any writer, professional or amateur, who wishes to share their work and receive feedback from other writers!  It is also for anyone who would like to provide constructive and kind feedback for other users.</h3>

<h3>Why do I need to log in to read drafts?</h3>
<p>Writing Workshop is a community of writers who have chosen to place their trust in each other.  While we do not have much verification in place for who signs up to read public drafts, we do require a good-faith registration before you can read anyone's work.</p>

<h3>Why do I need to choose a genre for my draft?</h3>
<p>We sort drafts by genre for the convenience of users who are only interested in certain types of work (for example, those who only wish to critique poetry).  If your work does not fit neatly into one of the suggested genres please feel free to list it under "Other."  All public drafts will appear in the main index regardless of genre.  We are also working on options to allow you to select more than one genre.</p>

<h3>Why do I need to provide a summary?</h3>
<p>Summaries make it easier for users to know what works they are interested in critiquing.  A good summary will help you get more views and critiques for your work.  If you are not interested in providing a summary, you may enter "None" or another brief answer for that field.</p>
